@import 'sass-bootstrap/lib/bootstrap';


body {
	background:#525252;
	margin:0 0 20px;
	color:#FFF;
	font-size:16px;
}
#header .container {
	color:#acd373;
	font-size:150px;
	padding-top:150px;
	font-weight:900;
	line-height:150px;
}
#filters {
	background:#363636;
	padding:50px 0;
}
.textbox {
	background:#FFF;
	width:48%;
	float:left;
	padding:100px;
	box-sizing:border-box;
}
.spacer {
	width:4%;
	float:left;
}
.spacer {
	height:400px;
}
#content {
	margin-top:50px;
	color:#000;
}
#titleFiltersRegion, #pFiltersRegion {
	width:50%;
	float:left;
}