<header class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-3 brand-name">
				<img src="images/logo.png" class="img-responsive"/>
			</div>
		</div>
	</div>
</header>

<section class="options-tray">
	<div class="container-fluid">
		<div class="row">
			<div id="titleFiltersRegion"></div>
			<div id="pFiltersRegion"></div>
		</div>
	</div>
</section>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12"><button class="btn btn-default toggle-options"><i class="fa fa-cogs"></i></button></div>
	</div>
</div>
<section class="main">
	<div class="container-fluid">
		<div class="row">
			<div id="unlockedRegion" class="textbox"></div>
			<div id="lockedRegion" class="textbox"></div>
		</div>
	</div>
</section>