<div class="col-xs-12 col-md-6 locked-combination">
	<div class="tester-wrapper clearfix">
		<div class="controls-wrapper top-control">
			
		</div>
		<div class="locked-inner-box">
			<i class="fa fa-lock"></i>
			<h1 class="locked locked-title">Title text</h1>
		</div>
		<div class="locked-inner-box">
			<i class="fa fa-lock"></i>
			<p class="locked locked-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis rhoncus feugiat. Nunc tortor urna, feugiat id dictum eu, imperdiet ac tellus. Vivamus dapibus dapibus convallis. Etiam consectetur diam lacus, ut tristique justo dignissim et. Vivamus feugiat eros turpis, non faucibus urna venenatis ut. Sed in consectetur quam. Quisque tempus maximus eros id sodales. Nulla fringilla neque ligula, ut rutrum massa interdum at. Etiam ultrices massa facilisis, rhoncus sapien vel, faucibus diam. Sed odio metus, convallis in vestibulum et, mollis nec libero. Vestibulum vulputate aliquam neque. Fusce vitae nisl elementum, fermentum tellus venen</p>
		</div>
		<div class="controls-wrapper bottom-control">
			<button class="btn btn-primary pull-right"><i class="fa fa-clipboard"></i></button>
		</div><!-- end.controlls-wrapper -->
	</div>
	
</div><!-- end.locked-combination -->
