<div class="col-xs-12 col-md-4">
	<div class="options-wrapp">
		<h2 class="options-title">Paragraph Filters</h2>
		<div class="checks-wrapper">
			<label for="serif-paragraph"><input type="checkbox" id="serif-paragraph">Serif</label>
			<label for="sans-serif-paragraph"><input type="checkbox" id="sans-serif-paragraph">Sans Serif</label>
			<label for="display-paragraph"><input type="checkbox" id="display-paragraph">Display</label>
			<label for="handwritting-paragraph"><input type="checkbox" id="handwritting-paragraph">Handwritting</label>
			<label for="monospace-paragraph"><input type="checkbox" id="monospace-paragraph">Monospace</label>
		</div>
	</div>
</div>