<div class="col-xs-12 col-md-4">
	<div class="options-wrapp">
		<h2 class="options-title">Title Filters</h2>
		<div class="checks-wrapper">
			<label for="serif-title"><input type="checkbox" id="serif-title">Serif</label>
			<label for="sans-serif-title"><input type="checkbox" id="sans-serif-title">Sans Serif</label>
			<label for="display-title"><input type="checkbox" id="display-title">Display</label>
			<label for="handwritting-title"><input type="checkbox" id="handwritting-title">Handwritting</label>
			<label for="monospace-title"><input type="checkbox" id="monospace-title">Monospace</label>
		</div>
	</div>
</div>