<h1>Title Filters</h1>
<input type="checkbox" name="title" value="serif"> Serif<br/>
<input type="checkbox" name="title" value="sans_serif"> Sans Serif<br/>
<input type="checkbox" name="title" value="display"> Display<br/>
<input type="checkbox" name="title" value="handwriting"> Handwriting<br/>
<input type="checkbox" name="title" value="monospace"> Monospace<br />
<p><select name="font"></select></p>