<div class="col-xs-12 col-md-6 testing-combination">
	<div class="tester-wrapper clearfix">
		<div class="controls-wrapper top-control">
			<button class="btn btn-primary pull-right"><i class="fa fa-arrow-right "></i></button>
		</div>
		<div class="inner-box">
			<div class="input-wrapper">
				<input type="text" placeholder="Add title text" value="This is the Title"/>
			</div>
			<div class="input-wrapper">
				<textarea placeholder="Add paragraph text here">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis rhoncus feugiat. Nunc tortor urna, feugiat id dictum eu, imperdiet ac tellus. Vivamus dapibus dapibus convallis. Etiam consectetur diam lacus, ut tristique justo dignissim et. Vivamus feugiat eros turpis, non faucibus urna venenatis ut. Sed in consectetur quam. Quisque tempus maximus eros id sodales. Nulla fringilla neque ligula, ut rutrum massa interdum at. Etiam ultrices massa facilisis, rhoncus sapien vel, faucibus diam. Sed odio metus, convallis in vestibulum et, mollis nec libero. Vestibulum vulputate aliquam neque. Fusce vitae nisl elementum, fermentum tellus venen</textarea>
			</div>
		</div>
		<div class="controls-wrapper bottom-control">
			<button id="randomize" class="btn btn-primary pull-right">Randomize</button>
		</div>
	</div><!-- end.tester-wrapper -->
	
</div><!-- end.testing-combination -->
